{
  "presets": [
    "env",
    "react",
    "lingui-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
